<footer class="footer">
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-brand">
                <h4>CryptoMonitor</h4>
                <p>{{ 'footer.description' | translate }}</p>
            </div>

            <div class="footer-actions">
                <div class="footer-links">
                    <span>{{ 'footer.links' | translate }}</span>
                    <ng-container *ngFor="let link of footerLinks; let last = last">
                        <a [href]="link.url">{{ link.labelKey | translate }}</a>
                        <span *ngIf="!last" class="link-separator">•</span>
                    </ng-container>
                </div>

                <div class="social-links">
                    <a href="#" class="social-link" title="Twitter">𝕏</a>
                    <a href="#" class="social-link" title="LinkedIn">in</a>
                    <a href="#" class="social-link" title="GitHub">gh</a>
                    <a href="#" class="social-link" title="Discord">dc</a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; {{ currentYear }} CryptoMonitor. {{ 'footer.copyright' | translate }}.</p>
            <p class="footer-credit">{{ 'footer.developedBy' | translate }}</p>
        </div>
    </div>
</footer>